altair
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
commonmark
coverage
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
gitdb
GitPython
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
pytest
pytest-cov
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
rich
semver
Send2Trash
six
smmap
soupsieve
stack-data
streamlit
terminado
tinycss2
toml
tomli
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
wcwidth
webencodings
widgetsnbextension
zipp
